

POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_DB=taskmanager


JWT_KEY=

# Secret between API - PHYTON ai service
RAG_INTERNAL_KEY=

# LLM for internal development
LLM_PROVIDER=ollama
OLLAMA_BASE_URL=http://host.docker.internal:11434
OLLAMA_MODEL=gpt-oss:120b-cloud


# Production model
GEMINI_API_KEY=



# development ...
RAG_PREMIUM_USERNAME=davidz

# development ...
RAG_UNLIMITED_USERNAME=davidz

# Daily AI ask quota for other premium users 
RAG_DAILY_LIMIT=50

# public origin
PUBLIC_ORIGIN=https://taskspace.duckdns.org

# Local compose 
HTTP_PORT=8080
